<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Tickety</title>
   
</head>

<body>

    <!-- About Tickty Start -->
    <div class="container-xxl py-5" style="font-size:15px;position:relative;right:40px;margin-top:80px;">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute" src="~/img/stad-min.jpg" alt="Football Stadium" style="object-fit: cover;width:530px;height:340px;position:relative;left:70px;top:20px;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s" style="font-size:15px;position:relative;left:30px;">
                    <h6 class="section-title bg-white text-center text-primary px-3" style="font-size:18px;position:relative;right:80px;bottom:25px;">About</h6>
                    <h1 class="mb-4">Welcome to <span class="text-primary">Tickty</span></h1>
                    <p class="mb-4">Discover the ultimate destination for booking football match tickets. Whether you're a die-hard fan or a casual spectator, Tickty offers a seamless experience for securing your seats at the hottest matches.</p>
                    <p class="mb-4">Explore our extensive selection of upcoming matches, secure your tickets hassle-free, and get ready to experience the thrill of live football action.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Wide Range of Matches</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Secure Ticket Booking</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Easy Payment Options</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Responsive Customer Support</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Exciting Matchday Experience</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Secure and Reliable Service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Tickty End -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Need help?</h6>
                <h1 class="mb-5">Contact Creators</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <!-- Added justify-content-center to center the team members -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                             
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/"target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.linkedin.com/"target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Mohammed Mokhtar</h5>
                             
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                             
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/"target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.linkedin.com/"target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Hassan Ahmed</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                             
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/"target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.linkedin.com/"target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Mahmoud Abdelbaset</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                             
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/xSoliman.Adel/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.linkedin.com/in/soliman-adel-396428232/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Soliman Adel</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden"> 
                             
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/"target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.linkedin.com/"target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="text-center p-3">
                            <h5 class="mb-0">Saleh Abdelhady</h5>

                        </div>
                    </div>
                </div>



                <!-- Repeat the above div block for each team member -->
            </div>
        </div>
    </div>
    <!-- Team End -->


        

</body>

</html>