@* @model List<User>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins List</title>
    <style>

        .container {
            margin-top: 40px;
        }

        .table {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }


            .table th,
            .table td {
                border: none;
                padding: 12px;
                vertical-align: middle;
            }

            .table tbody tr:hover {
                background-color: #f0f0f0;
            }

        .btn {
            border-radius: 4px;
        }

        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .message-box {
            background-color: red; /* Green background color */
            opacity: 0.7;
            color: #fff; /* White text color */
            width: 210px;
            text-align: center;
            margin-left: 450px;
            padding-top: 3px;
            height: 30px;
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
        }

        .message-text {
            font-size: 16px; /* Font size of the message */
            font-weight: bold; /* Bold text */
        }
    </style>

</head>
<body>

    <div class="container">
        <div class="text-center">
            <h1 style="margin-top:40px;">Admins</h1>
        </div>

        @if (TempData["Deny"] != null)
        {
            <div class="message-box">
                <div class="message-text">@TempData["Deny"]</div>
            </div>
        }
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var u in Model)
                    {
                        <tr>
                            <td>@u.Name</td>
                            <td>@u.Email</td>
                            <td>
                                <form asp-controller="Admin" asp-action="RemoveAdmin" asp-route-id="@u.Id">
                                    <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <a asp-controller="Admin" asp-action="AddAdmin" class="btn btn-success">Add New Admin</a>
        </div>
    </div>

</body>
</html>
 *@