@{

    string? role = Context.Session.GetString("Role");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <style>

        .main-container {
            margin: 100px auto;
            max-width: 600px;
            padding: 30px;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            color: #000000;
        }



        .btn-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .btn2 {
            font-size: 18px;
            margin: 10px;
            padding: 15px 25px;
            width: 180px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

    </style>
</head>
<body>
    <div class="main-container">
        <div class="welcome-message" style="padding-left:75px;">
            <h3>Welcome to the Admin Dashboard!</h3>
        </div>

        <div class="btn-container">
            @if (role == "Owner")
            {
                <a asp-controller="Admin" asp-action="Index" class="btn2 btn btn-primary">Admins</a>
            }
            <a asp-controller="Bills" asp-action="Index" class="btn2 btn btn-primary">Bills</a>
            <a asp-controller="Stadium" asp-action="Index" class="btn2 btn btn-primary">Stadium</a>
            <a asp-controller="Users" asp-action="Index" class="btn2 btn btn-primary">Users</a>
            <a asp-controller="Matches" asp-action="Index" class="btn2 btn btn-primary">Matches</a>
            <a asp-controller="Tickets" asp-action="Index" class="btn2 btn btn-primary">Tickets</a>


        </div>
    </div>
</body>
</html>